@font-face{
    src: url('fonts/Hack-Regular.ttf');
    font-family: 'Hack';
}
body{
    background-color:#21242B;
}

.username-text{
    color: #7ECC33;
    font-family: Hack, monospace;
}

.directory-text{
    font-family: Hack, monospace;
    color: #5D7FA4;
}

.regular-text{
    font-family: Hack, monospace;
    color: #747981;
}

.text-input{
    font-family: Hack, monospace;
    background-color:#21242B;
    color: #747981;
    width: 400px;
    border: none;
    outline: none !important;
}
